{
  "extends": ["stylelint-config-standard-scss", "stylelint-config-rational-order"],
  "plugins": [
      "stylelint-prettier",
      "stylelint-order"
  ],
  "customSyntax": "postcss-scss",
  "rules": {
      "selector-class-pattern": null,
      "selector-id-pattern": null,
      "declaration-block-no-redundant-longhand-properties": null,
      "scss/comment-no-empty": null,
      "color-function-notation": null,
      "alpha-value-notation": null,
      "at-rule-no-unknown": null,
      "indentation": 4,
      "selector-max-id": 2,
      "string-quotes": "double",
      "number-leading-zero": "always",
      "no-descending-specificity": null,
      "color-hex-case": null,
      "value-keyword-case": "lower",
      "function-name-case": null,
      "declaration-colon-newline-after": "always-multi-line",
      "max-nesting-depth": [
          3,
          {
              "ignore": [
                  "blockless-at-rules",
                  "pseudo-classes"
              ]
          }
      ],
      "order/order": [
          "declarations",
          {
              "type": "at-rule",
              "name": "media"
          },
          {
              "type": "rule",
              "selector": "^&::(before|after)"
          },
          {
              "type": "rule",
              "selector": "^&:\\w"
          },
          {
              "type": "rule",
              "selector": "^&_"
          },
          {
              "type": "rule",
              "selector": "^."
          }
      ]
  }
}
